@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

body
{
    background: #E8EBF3
}

.header-img 
{
    width: 100%;
    
    text-align: center;
 
    margin: 0 auto;
    align-content: center;
}

.feedback-image-correct
{
    
    width: 100%;
    
    text-align: center;
 
    margin: 0 auto;
    align-content: center;
}

.feedback-image-incorrect
{
    
    width: 100%;
    
    text-align: center;
 
    margin: 0 auto;
    align-content: center;
}


.question
{
    text-align: center;
    margin-left: 25px;
    font-family: 'PT Sans', sans-serif;
    font-size: 60px;

}

.question-header
{
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 60px;
    margin-left: 16px;
}

.feedback-header
{
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    margin-left: 25px;
    font-size: 80px;

}

.answer-box
{
    --background: #ffffff;
    --text: #414856;
    --radio: #7C96B2;
    --radio-checked: #4F29F0;
    --radio-size: 20px;
    --width: 600px;    
    --height: 800px;
    --border-radius: 10px;
    
    

    background: var(--background);
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    color: var(--text);
    position: relative;
    box-shadow: 0 10px 30px rgba(#414856, 0.05);
    padding: 30px 45px;
    display: grid;
    grid-template-columns: auto var(--radio-size);
    align-items: center;
    font: 400 50px system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.submit-button {
  align-items: center;
  background-color: #FFFFFF;
  border: 10px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 10px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 50px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration:rgba(0, 0, 0, 0.85);
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  margin-top: 10px;
  text-align: center;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

#urscore
{

    text-align: center;
    font-size: 50px;
}

input[type=radio] 
{
    border: 10px;
    width: 250%;
    height: 5em;
}




