@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

body
{
    background: #E8EBF3
}

.header-img 
{
    width: 11%;
    height: 100px;
    background: url('mini.png');
    background-size: cover;
    margin: auto;
    align-content: center;
}

.feedback-image-correct
{
    
    object-fit: contain;
    width: 10%;
    height: 125px;
    background: url('party-popper.png');
    background-size: cover;

    align-content: center;
    margin-left: 580px;
}

.feedback-image-incorrect
{
    
    object-fit: contain;
    width: 10%;
    height: 126px;
    background: url('wrong.png');
    background-size: cover;

    align-content: center;
    margin-left: 580px;
}





.question
{
    text-align: center;
    margin-left: 25px;
    font-family: 'PT Sans', sans-serif;
}

.question-header
{
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    margin-left: 25px;
}

.feedback-header
{
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    margin-left: 25px;

}

.answer-box
{
    --background: #ffffff;
    --text: #414856;
    --radio: #7C96B2;
    --radio-checked: #4F29F0;
    --radio-size: 20px;
    --width: 100px;    
    --height: 140px;
    --border-radius: 10px;
    
    

    background: var(--background);
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    color: var(--text);
    position: relative;
    box-shadow: 0 10px 30px rgba(#414856, 0.05);
    padding: 30px 45px;
    display: grid;
    grid-template-columns: auto var(--radio-size);
    align-items: center;
    font: 400 16px system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-left: 550px;
}

.submit-button {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  margin-top: 10px;
}

.submit-button:hover,
.submit-button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.submit-button:hover {
  transform: translateY(-1px);
}

.submit-button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}


